<h1>Table of Contents</h1>

<ul>
  <% @sections.each do |section|%>
    <li><%= link_to section.name, section_path(section) %></li>
      <% @lessons.each do |lesson| %>
        <li><%= link_to lesson.title, section_lesson_path(section, lesson)%></li>
      <% end %>
  <% end %>
</ul>

<hr>
<%= link_to "Create A new section", new_section_path %>
